{% extends 'base.html' %}
{% block content %}
    <div class="card mb-3" style="max-width: 540px; border: none">
        <div class="row no-gutters">
            <div class="col-md-4" style="margin-top: 27px">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="product image">
                {% else %}
                    {% load static %}<img src="{% static "default_image.png" %}" class="card-img-top" alt="default image">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Name: {{ product.name }}</h2>
                    <p class="card-text">Category: <b>{{ product.category }}</b></p>
                    <p class="card-text">Description: {{ product.description }}</p>
                    <a href="{% url 'webapp:product_update' product.pk %}" style="margin-right: 10px">Edit</a>
                    <a href="{% url 'webapp:product_delete' product.pk %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <hr/>
        <h3>Reviews</h3>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        <div class="issue-list">
            {% for review in reviews %}
                <hr>
                <div class="review">
                    <p><b>{{ forloop.counter }}. {{ review.author.username }}</b></p>
                    <p>Email: {{ review.author.email }}</p>
                    <div class="pre">{{ review.text }}</div>
                    <div>Rating: {{ review.rating }} from 5</div>
                    <p class="review-links">
{#                        {% if perms.webapp.change_task %}#}
                            <a href="{% url 'webapp:review_update' review.pk %}">Edit</a>
{#                        {% endif %}#}
{#                        {% if perms.webapp.delete_task %}#}
                            <a href="{% url 'webapp:review_delete' review.pk %}">Delete</a>
{#                        {% endif %}#}
                    </p>
                </div>
            {% empty %}
                <p>No review yet.</p>
            {% endfor %}
        </div>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
{#        {% if perms.webapp.add_task %}#}
            <a href="{% url 'webapp:product_review_add' product.pk %}">Add review</a>
{#        {% endif %}#}
{% endblock %}
